<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Catalog</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        img {
            max-width: 100px;
            max-height: 100px;
        }
    </style>
</head>
<body>
    <h1>Implementation of Cloud Services and IoT Light Control System using Microsoft Azure</h1>
    <nl></nl>
    <h2>Product Catalog</h2>
    <table>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
        {% for product in products %}
        <tr>
            <td><img src="{{ url_for('static', filename=product.image) }}" alt="{{ product.name }}"></img></td>
            <td><a href="/product/{{ product.id }}">{{ product.name }}</a></td>
            <td>£{{ product.price }}</td>
            <td>
                <form action="/add_to_cart/{{ product.id }}">
                    <button type="submit">Add to Cart</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="/cart">View Cart</a>
</body>
</html>
